.row
    .col item
    .col
        .form-group.form-check
            .form-check.form-check-inline
                label.pr-3.align-middle.form-check-label(for="rbPass1") Pass
                input.form-check-input(type="radio" name="Hook" id="rbPass1")
            .form-check.form-check-inline
                label.pr-3.align-middle.form-check-label(for="rbFail1") Fail
                input.form-check-input(type="radio" name="Hook" id="rbFail1")
    .col 
        input.form-control(type="text" name="comments1" id="comments1" placeholder="no comments")
.row
    .col Limit Switches
    .col
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbPass2") Pass
            input.form-check-input(type="radio" name="passSwitch" id="rbPass2")
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbFail2") Fail
            input.form-check-input(type="radio" name="failSwitch" id="rbFail2")

    .col 
        input.form-control(type="text" name="comments2" id="comments2" placeholder="no comments")
.row
    .col Bridge/Trolley
    .col
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbPass3") Pass
            input.form-check-input(type="radio" name="Trolley" id="rbPass3")
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbFail3") Fail
            input.form-check-input(type="radio" name="Trolley" id="rbFail3")

    .col 
        input.form-control(type="text" name="comments3" id="comments3" placeholder="no comments")
.row
    .col Horn/Lights
    .col
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbPass4") Pass
            input.form-check-input(type="radio" name="Horn" id="rbPass4")
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbFail4") Fail
            input.form-check-input(type="radio" name="Horn" id="rbFail4")

    .col
        input.form-control(type="text" name="comments4" id="comments4" placeholder="no comments")
.row
    .col Runway Clear
    .col
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbPass5") Pass
            input.form-check-input(type="radio" name="Runway" id="rbPass5")
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbFail5") Fail
            input.form-check-input(type="radio" name="Runway" id="rbFail5")

    .col
        input.form-control(type="text" name="comments5" id="comments5" placeholder="no comments")

.row
    .col Hook Turning Device
    .col
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbPass6") Pass
            input.form-check-input(type="radio" name="Spinner" id="rbPass6")
        .form-check.form-check-inline
            label.pr-3.align-middle.form-check-label(for="rbFail6") Fail
            input.form-check-input(type="radio" name="Spinner" id="rbFail6")

    .col
        input.form-control(type="text" name="comments6" id="comments6" placeholder="no comments")
